@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #FFFFFF;
    --foreground: #09090B;

    --card: #FFFFFF;
    --card-foreground: #09090B;

    --popover: #FFFFFF;
    --popover-foreground: #09090B;

    --primary: #2563EB;
    --primary-foreground: #FFFFFF;

    --secondary: #F4F4F5;
    --secondary-foreground: #18181B;

    --muted: #F4F4F5;
    --muted-foreground: #71717A;

    --accent: #F4F4F5;
    --accent-foreground: #18181B;

    --destructive: #EF4444;
    --destructive-foreground: #FAFAFA;

    --border: #E4E4E7;
    --input: #E4E4E7;
    --ring: #2563EB;

    --success: #16A34A;
    --success-foreground: #FFFFFF;
    
    --chart-green: #16A34A;
    --chart-red: #EF4444;
    --chart-blue: #2563EB;
    --chart-orange: #F97316;

    --radius: 0.5rem;

    /* Sidebar com azul mais escuro */
    --sidebar-background: #070750;
    --sidebar-foreground: #FFFFFF;
    --sidebar-primary: #FFFFFF;
    --sidebar-primary-foreground: #070750;
    --sidebar-accent: #0A0A7A;
    --sidebar-accent-foreground: #FFFFFF;
    --sidebar-border: #090960;
    --sidebar-ring: #FFFFFF;
  }

  .dark {
    --background: #FFFFFF;
    --foreground: #09090B;

    --card: #FFFFFF;
    --card-foreground: #09090B;

    --popover: #FFFFFF;
    --popover-foreground: #09090B;

    --primary: #2563EB;
    --primary-foreground: #FFFFFF;

    --secondary: #F4F4F5;
    --secondary-foreground: #18181B;

    --muted: #F4F4F5;
    --muted-foreground: #71717A;

    --accent: #F4F4F5;
    --accent-foreground: #18181B;

    --destructive: #EF4444;
    --destructive-foreground: #FAFAFA;

    --border: #E4E4E7;
    --input: #E4E4E7;
    --ring: #2563EB;

    --success: #16A34A;
    --success-foreground: #FFFFFF;

    --chart-green: #16A34A;
    --chart-red: #EF4444;
    --chart-blue: #2563EB;
    --chart-orange: #F97316;

    /* Sidebar mantendo o mesmo tom no dark */
    --sidebar-background: #070750;
    --sidebar-foreground: #FFFFFF;
    --sidebar-primary: #FFFFFF;
    --sidebar-primary-foreground: #070750;
    --sidebar-accent: #0A0A7A;
    --sidebar-accent-foreground: #FFFFFF;
    --sidebar-border: #090960;
    --sidebar-ring: #FFFFFF;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
